---
import { content } from "../util/content";

import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import ExternalLinkIcon from "../components/ui/icons/external-link.astro";
import { SITE_TITLE } from "../config";

const { blog } = await content.glob();

const posts = blog.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="head" />
  <section slot="main">
    <ul>
      {
        posts.map((post) => {
          const formattedDate = new Date(post.frontmatter.date).toLocaleDateString("en-us", { year: "numeric", month: "short", day: "numeric" })
          return (
            <li class="post">
              <div class="title">
                {post.frontmatter.isExternal ? 
                    <a href={post.frontmatter.url} target="_blank">
                      <span>{post.frontmatter.title}</span>
                      <ExternalLinkIcon title="Link to external post" height={16} width={16}/>
                    </a>
                  : 
                  <a href={`/blog/${post.slug}`}>{post.frontmatter.title}</a>}
              </div>
              <div class="publish-date">
                <time datetime={post.frontmatter.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }

  .post {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
  }

  .post+.post {
    padding-top: 0.375rem;
  }

  .title a {
    color: var(--text);
    border-bottom: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.375rem;
  }

  .title a:hover {
    color: var(--text-link);
  }

  .publish-date {
    color: var(--text-muted);
    font-size: 0.875rem;
    font-style: italic;
  }
x
</style>
